<h1>Sincronización de LDAP a Base de Datos</h1>

<h2><%= @uactualizados.length %> usuario(s) creados/actualizados</h2>
<ul>
  <% @uactualizados.each do |u| %>
    <li><%= ::Usuario.find(u).nusuario %></li>
<% end %>
</ul>


<% if @udeshabilitados.length > 0 %>
  <h2><%= @udeshabilitados.length %> usuarios deshabiltiados porque ya no se encuentran en LDAP</h2>
  <ul>
  <% @udeshabilitados.each do |u| %>
    <li><%= ::Usuario.find(u).nusuario %></li>
  <% end %>
  </ul>
<% end %>


<% if @uprob && @uprob.strip != ''%> %>
  <div class='alert alert-error'>
    <h2>Problemas al sincronizar usuarios</h2>
    <%= @uprob %>
  </div>
<% end %>

<h2><%= @gactualizados.length %> grupo(s)s creados/actualizados</h2>
<ul>
  <% @gactualizados.each do |g| %>
    <li><%= Msip::Grupo.find(g).cn %></li>
  <% end %>
</ul>

<% if @gdeshabilitados.length > 0 %>
  <h2><%= @gdeshabilitados.length %> grupos deshabilitados porque ya no se encuentran en LDAP</h2>
  <ul>
  <% @gdeshabilitados.each do |g| %>
    <li><%= Msip::Grupo.find(g).nombre %> - <%= Msip::Grupo.find(g).cn %></li>
  <% end %>
  </ul>
<% end %>

<% if @gprob && @gprob.strip != ''%>
  <div class='alert alert-error'>
    <h2>Problemas al sincronizar grupos</h2>
    <%= @gprob %>
  </div>
<% end %>


